@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  height: 100vh;
  width: 100vw;
  
}

.govt-of-india {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: #fff;
  height: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #0059b3;
  position: relative;
  z-index: 1000;
}
.govt-of-india .logo {
  display: flex;
}
.govt-of-india .emblem {
  height: 30px;
  max-width: 20px;
  padding: 1.5px;
}
.govt-of-india .logo-text {
  font-size: 11px;
  font-weight: 250;
  text-align: center;
  color:#fff;
  padding-top: 7px;
}
.govt-of-india .fir-portal {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding-top: 0.15em;
  padding-right: 0.5rem;
  color: #fff;
}
.datetime-bar span {
  font-size: 12px;
  font-weight: 450;
  text-align: center;
  padding-top: 0.5em;
  padding-right: 0.5rem;
  color: #fff;
}

                                            /* **************** sidebar ******************** */

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: #11101d;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
    padding-top: 2.5rem;
  }
  .sidebar.open {
    width: 250px;
  }
  .sidebar .logo-details {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
  }
  .sidebar .logo-details .icon {
    opacity: 0;
    transition: all 0.5s ease;
  }
  .sidebar .logo-details .logo_name {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
  }
  .sidebar.open .logo-details .icon,
  .sidebar.open .logo-details .logo_name {
    opacity: 1;
  }
  .sidebar .logo-details #btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  .sidebar.open .logo-details #btn {
    text-align: right;
  }
  .sidebar i {
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
  }
  .sidebar .nav-list {
    margin-top: 20px;
    height: 100%;
  }
  .sidebar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
  }
  .sidebar li .tooltip {
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
  }
  .sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
  }
  .sidebar.open li .tooltip {
    display: none;
  }
  .sidebar input {
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    outline: none;
    height: 50px;
    width: 100%;
    width: 50px;
    border: none;
    border-radius: 12px;
    transition: all 0.5s ease;
    background: #1d1b31;
  }
  .sidebar.open input {
    padding: 0 20px 0 50px;
    width: 100%;
  }
  .sidebar .bx-search {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 22px;
    background: #1d1b31;
    color: #fff;
  }
  .sidebar.open .bx-search:hover {
    background: #1d1b31;
    color: #fff;
  }
  .sidebar .bx-search:hover {
    background: #fff;
    color: #11101d;
  }
  .sidebar li a {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: #11101d;
  }
  .sidebar li a:hover {
    background: #fff;
  }
  .sidebar li a .links_name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
  }
  .sidebar.open li a .links_name {
    opacity: 1;
    pointer-events: auto;
  }
  .sidebar li a:hover .links_name,
  .sidebar li a:hover i {
    transition: all 0.5s ease;
    color: #11101d;
  }
  .sidebar li i {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
  }
  .sidebar li.profile {
    position: fixed;
    height: 60px;
    width: 78px;
    left: 0;
    bottom: -8px;
    padding: 10px 14px;
    background: #1d1b31;
    transition: all 0.5s ease;
    overflow: hidden;
  }
  .sidebar.open li.profile {
    width: 250px;
  }
  .sidebar li .profile-details {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }
  .sidebar li img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 10px;
  }
  .sidebar li.profile .name,
  .sidebar li.profile .job {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
  }
  .sidebar li.profile .job {
    font-size: 12px;
  }
  .sidebar .profile #log_out {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #1d1b31;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
    transition: all 0.5s ease;
  }
  .sidebar.open .profile #log_out {
    width: 50px;
    background: none;
  }
  .home-section {
    position: relative;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 50%);
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
  }
  .sidebar.open ~ .home-section {
    left: 250px;
    width: calc(100% - 250px);
  }
  .home-section .text {
    display: inline-block;
    color: #11101d;
    font-size: 25px;
    font-weight: 500;
    margin: 18px;
  }
  @media (max-width: 420px) {
    .sidebar li .tooltip {
      display: none;
    }
  }

/* 
  section {
    background-image: radial-gradient(circle, #4b81d2, #00a4f1, #00c4e6, #00dcb0, #32ed5d);
  }
   */
.container {
    overflow-x: hidden;
    overflow-y: auto;
    display: inline-block;  
    height: 100%;
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-left: 78px ;
    
}
.container h1 {
    margin: 20px 0;
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.card {
    width: 25%;
    position: relative;
    margin-bottom: 20px;
    border-radius: 50px;
    overflow: hidden;
    cursor: pointer;
}
.card img {
    height: 100%;
    width: 100%;
    /* border: 2px solid #000; */
    object-fit: cover;
}
.card:hover {
    transform: scale(1.03);
    filter: drop-shadow(0 0 10px #bcbcbc);
    transition: 0.3s;
}

.card figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px;
    padding-left: 40px;
    padding-bottom: 35px;
    width: 100%;
    height: 20%;
    font-size: 20px;
    font-weight: 500;
    color:#fff;
    border-radius: 0 0 10px 10px;
    background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(255, 255, 255, 0));
    transition: 0.3s;
}
.card:hover figcaption {
    transform: scale(1.03);
}


footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    height:10rem;
    width:100%;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    margin: 10px;
}

.footer-section h2 {
    color: #4CAF50;
}

.contact-info {
    margin-top: 10px;
    font-size: 14px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
    transition: color 0.3s ease-in-out;
}

.footer-links a:hover {
    color: #4CAF50;
}

.copyright {
    margin-top: 20px;
    font-size: 12px;
}
